{% extends 'base.html.twig' %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Crear</h3>                
                    </div>
                    <div class="card-block p-3">
                        <div class="col-sm-12">
                            <a class="btn btn-primary btn-md" href="{{ path('new_product') }}"><i class="fa fa-star"></i>&nbsp;Producto</a>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Menu Principal</h3>                
                    </div>
                    <div class="card-block p-3">
                        <div class="col-sm-12">
                            <a class="btn btn-primary btn-md" href="{{ path('homepage') }}"><i class="fa fa-repeat"></i>&nbsp; Inicio</a>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Productos</h3>
                    </div>
                    <div class="card-body">
                        <table id="table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Producto</th>
                                    <th>Descripcion</th>
                                    <th>Marca</th>
                                    <th>Categoria</th>
                                    <th>Precio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if products %}
                                    {% for product in products %}
                                        {% if product.category.active == '1' %}
                                            <tr>
                                                <td>{{ product.codeproduct }}</td>
                                                <td>{{ product.nameproduct }}</td>
                                                <td>{{ product.description }}</td>
                                                <td>{{ product.brand }}</td>
                                                <td>{{ product.category.namecategory }}</td>
                                                <td>{{ product.price|number_format(2, '.', ',') }}</td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" onclick=window.location.href='{{ path('edit_product', {idproduct:product.id}) }}'><i class="fa fa-edit"></i></button>
                                                    <button class="btn btn-danger btn-sm btn-delete" data-idproduct="{{ product.id }}" data-toggle="modal" data-target="#myModal"><i class="fa fa-remove"></i></button>
                                                </td>
                                            </tr>
                                        {% endif %}                                        
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Eliminar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>                
              </div>
              <div class="modal-body">
                <p>Esta seguro de eliminar el producto?</p>
              </div>
              <div class="modal-footer">
                <form action="{{ path('delete_product') }}" method="post">
                    <input hidden="true" name="idproduct" id="delete_product">
                    <button type="submit" class="btn btn-default" id="modal-btn-delete">Aceptar</button>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){            
            $('#table').DataTable({
                "paging":   true,
                "ordering": true,
                "info":     false,
                "scrollY": true,
                "scrollX": false,
                "scrollCollapse": true,
                "searching": true,  
                "language": {                    
                  "zeroRecords": "Ninguna coincidencia",
                  "emptyTable": "No hay disponibles",
                  "search": "Buscar",
                  "infoEmpty": "Sin paginas",
                  "lengthMenu":     "Mostrar _MENU_ resultados",
                  "paginate": {
                    "first":      "Primera",
                    "last":       "Ultima",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                  }
                }          
            });
        });

        $(".btn-delete").click(function(){
            $("#delete_product").val($(this).attr("data-idproduct"));
        });      
    </script>
{% endblock %}

